.vending-machine-container {
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  max-width: 1000px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black
}

.menu-item {
  flex-grow: 1;
  width: 150px;
  height: 180px;
  margin: 10px;
}

.menu-item:hover {
  color: black !important;
}

.dot-active {
  height: 15px;
  width: 15px;
  background-color: rgb(76, 219, 20);
  border-radius: 50%;
  display: inline-block;
}

.dot-inactive {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.deposit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white !important;

}

.number-space {
  margin: 15px
}

.number-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  width: 60px;
  height: 60px;
}

.btn-receive-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
}


.btn-text {
  font-size: 25px;
  font-weight: bold;
}

.btn-receive-text {
  font-size: 15px;
  font-weight: bold;
}

.btn-receive-banknotes {
  display: flex;
  align-items: center;
  width: 60px;
  height: 35px;
}

.btn-banknotes {
  display: flex;
  align-items: center;
  width: 100px;
  height: 60px;
}

.banknotes-20 {
  background-color: forestgreen !important;
  border-color: #0a830a !important;
}

.banknotes-50 {
  background-color: #0b87eccf !important;
  border-color: #055697cf !important;
}

.banknotes-100 {
  background-color: crimson !important;
  border-color: rgb(177, 0, 35) !important;
}

.banknotes-500 {
  background-color: rgba(102, 51, 153, 0.884) !important;
  border-color: #0a830a !important;
}

.banknotes-1000 {
  background-color: #bd8945 !important;
  border-color: #d1a163 !important;
}

td {
  border: 1px solid black !important;
  /* width: 20px; */
}

.center-item {
  text-align: center;
  margin: auto;
}

.border-black {
  border: 1px solid black
}

.pd-5 {
  padding: 5px;
}

.pd-10 {
  padding: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.bg-white{
  background-color: white !important;
}